
.DescreptionParagraph {
  color: hsla(0, 0%, 100%, 0.75);
  /* font-family: "BigShouldersDisplay"; */
  font-family: "LexendDeca-Regular";
}

.Parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Parent >div{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px;
}

.TittleHeader {
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 36px;
  font-family: "BigShouldersDisplay";
}

.CardBtn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  width: 150px;
  border-color: transparent;
  border-radius: 20px;
  background-color: hsl(0, 0%, 95%);
}



#SEDANSBtn {
  color: hsl(31, 77%, 52%);

}

#SUVSBtn {
  color: hsl(184, 100%, 22%);
}

#LUXURYBtn {
  color: hsl(179, 100%, 13%);

}

.CardBtn:hover {
    background-color: transparent !important;
    color: hsl(0, 0%, 95%) !important;
    border: 1px solid hsl(0, 0%, 95%) !important;
  }

  @media (max-width:600px) {
    .Parent {
      height: 450px;
    }
    
  }