@font-face {
  font-family: "BigShouldersDisplay";   /*Can be any text*/
  src: local("BigShouldersDisplay"),
    url("./Fonts/BigShouldersDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LexendDeca-Regular";   /*Can be any text*/
  src: local("LexendDeca-Regular"),
    url("./Fonts/LexendDeca-Regular.ttf") format("truetype");
}

body {
  margin: 0;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}